.comp3-visible-comp {
  display: inline !important;
}
.invisible-comp {
  display: none !important;
}
#comp3-container {
  height: 65vh;
  width: 90vw;
}
#comp3-container * {
  box-sizing: border-box;
  font-family: "Manrope";
}
#comp3-container h3 {
  font-size: 1.2rem !important;
  font-weight: 500 !important;
  line-height: 4vh;
}
#comp3-inp {
  background-color: #6DBE45;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 10%;
  margin-top: 8vh;
  margin-left: 3vh;
}
#comp3-container h5 {
  font-size: 1.2rem !important;
  font-weight: 500 !important;
  margin-top:0%
}
#comp3-container h1 {
  margin-bottom:5px;
}
@media screen and (max-width: 800px) {
  #comp3-container h3 {
    font-size: 1.1rem !important;
  }
}
@media screen and (max-width: 450px) {
  #comp3-container h3 {
    font-size: 1.1rem !important;
  }
}
