#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}
.form-container {
  position: relative;
}
.form-bg-img {
  position: fixed;
  /* top: 0;
  left: 0;
  right: 0; */
  width: 100%;
  bottom: 0;
  z-index: -1;
}
#form-screen-container {
  font-family: "Manrope";
  user-select: none;
  color: white;
  /* background-color: #010101; */
  /* background-image: url("../../assets/regForm-bg-2021.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
  /* height: 100vh; */
  width: 100vw;
  z-index: 22;
  font-family: "Manrope";
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 0%;
}
#form-logout-btn {
  color: white;
  width: 70px;
  font-family: "Manrope";
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 3px;
  border-style: solid;
  border-color: #6DBE45;
  color: #6DBE45;
  border-radius: 4px;
  cursor: pointer;
  padding: 1vh 3vw;
  font-size: 1.1rem;
  margin-right: 0vw;
}
#form-logout-btn:hover {
  box-shadow: 0px 0px 3px 1px rgba(31, 150, 255, 0.6);
}
#form-logout-btn:active {
  background-color: rgba(0, 136, 255, 0.3);
}
#form-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2.3vh 3vw;
  /* border-bottom: 1px #FA652B solid; */
}
#form-header img {
  width: 90px;
  height: auto;
}
#form-footer-content {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

#form-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#completion-indicator {
  position: fixed;
  bottom: 0;
}
#form-footer-content {
  position: fixed;
  bottom: 0;
  right: 0;
}
#form-submit-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin-top: 0;
  width: 130px;
  height: 20px;
  background-color: #6DBE45;
  color: white;
  padding: 14px 5px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 1rem;
  /* margin-bottom: 4vh; */
  margin-left: 1vw;
  cursor: pointer;
}
#form-submit-btn:hover,
#icon-up:hover,
#icon-down:hover {
  background-color: #6DBE45;
  box-shadow: 0px 0px 3px 1px #6DBE45;
}
#form-submit-btn:active,
#icon-up :active,
#icon-down:active {
  background-color:#6DBE45 ;
  box-shadow: 0 0 0 0;
}
#icon-up,
#icon-down {
  color: white;
  background-color: #6DBE45;
  border-radius: 4px;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: fit-content;
  padding: 3px 1px;
  font-family: "Manrope";
}
#icon-up {
  margin-right: 1.5vw;
}
#icon-size {
  font-size: 43px;
  padding: 0 0;
}
#page-arrows {
  display: flex;
  flex-direction: row;
  margin-bottom: 4vh;
  margin-right: 3vw;
}
#form-components {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 4vw;
  align-items: center;
}
.visible-comp {
  display: flex;
}
.invisible-comp {
  display: none !important ;
}
.disabled-comp {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0;
}
.disabled-arrow {
  opacity: 0.5;
  cursor: normal;
  pointer-events: none;
}
#completion-indicator {
  background-color: #6DBE45;
  height: 1vh;
}
#confirmation-screen {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 34vh;
  width: 35vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 3;
  background-image: url("../../assets/confirm_box_pattern_bottom_right.png");
  background-position: right bottom;
  background-repeat: no-repeat, no-repeat;
  background-size: 10.5rem, 10.5rem;
  box-shadow: 5px 10px 6px rgba(16, 16, 16, 0.65);
  border-radius: 10px;
  padding: 2%;
}

#confirmation-screen h2 {
  color: #444444;
  font-size: 1.65rem;
  line-height: 4.5vh;
}

#confirmation-btns {
  margin-top: 3vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  font-size: 1.05rem;
}
#confirmation-btns h4 {
  color: #6DBE45;
  cursor: pointer;
}

#confirmation-btns div {
  color: white;
  background-color: #6DBE45;
  padding: 1.8vh 3vw;
  border-radius: 3px;
  cursor: pointer;
}
#confirmed-screen {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 45vw;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 2%;
  transform: translate(-50%, -50%);
  background-color: white;
  color: black;
  z-index: 3;
  box-shadow: 5px 10px 6px rgba(16, 16, 16, 0.65);
  border-radius: 10px;
}
#confirmed-screen h2 {
  color: black;
  font-size: 1.8rem;
  line-height: 4.5vh;
}
#confirmed-screen h4 {
  color: black;
  font-weight: 600;
  font-size: 1.3rem;
}
@media screen and (max-width: 1200px) {
  #confirmed-screen h2 {
    font-size: 1.4rem;
  }
  #confirmed-screen h4 {
    font-size: 1rem;
  }
}
@media screen and (max-width: 1070px) {
  #confirmation-screen,
  #confirmed-screen {
    width: 60vw;
  }
}
@media screen and (max-width: 920px) {
  #form-logout-btn {
    font-size: 0.9rem;
  }
  #icon-size {
    font-size: 40px;
  }
  #icon-up {
    margin-right: 1.7vw;
  }
  #form-submit-btn {
    font-size: 0.9rem;
  }
  #confirmation-screen,
  #confirmed-screen {
    background-size: 9.5rem, 9.5rem;
  }
}
@media screen and (max-width: 802px) {
  #confirmation-screen,
  #confirmed-screen {
    width: 74vw;
    height: 45vh;
    background-size: 8.5rem, 8.5rem;
  }
  #confirmation-screen h2,
  #confirmed-screen h2 {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 720px) {
  #confirmed-screen {
    width: 80vw;
  }
  #confirmed-screen h2 {
    padding-left: 2vw;
    padding-right: 2vw;
    text-align: center;
  }
}
@media screen and (max-width: 590px) {
  #confirmation-screen,
  #confirmed-screen {
    width: 80vw;
  }
  #confirmation-screen h2,
  #confirmed-screen h2 {
    font-size: 1.35rem;
  }
  #confirmed-screen h4 {
    font-size: 0.9rem;
  }
  #confirmation-btns {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 541px) {
  #confirmed-screen img {
    height: 52px;
    width: 52px;
  }
}
@media screen and (max-width: 520px) {
  #form-logout-btn {
    border-width: 2px;
  }
  #icon-size {
    font-size: 37px;
  }
  #icon-up,
  #icon-down {
    padding: 2px 1px;
  }
  #icon-up {
    margin-right: 3vw;
  }
  #form-submit-btn {
    width: 100px;
    height: 18px;
    padding: 10px 5px;
  }
  #confirmation-screen,
  #confirmed-screen {
    width: 90vw;
    background-size: 6rem, 6rem;
  }
  #form-components {
    margin-left: 6.5vw;
  }
  #domains-container {
    height: 75vh;
    overflow-y: scroll;
  }
  #domains-container::-webkit-scrollbar {
    width: 3px;
  }
}
@media screen and (max-width: 470px) {
  #confirmation-screen h2,
  #confirmed-screen h2 {
    text-align: center;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
  }
  #confirmed-screen h2 {
    font-size: 1.3rem;
  }
  #confirmed-screen h4 {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 420px) {
  #icon-up {
    margin-right: 3.8vw;
  }
  #icon-down {
    margin-right: 3vw;
  }
  #confirmation-btns {
    font-size: 0.85rem;
  }
}
@media screen and (max-width: 370px) {
  #confirmed-screen h4 {
    font-size: 0.7rem;
    text-align: center;
  }
}
@media screen and (max-width: 323px) {
  #form-logout-btn {
    font-size: 0.8rem;
  }
}
